<div class="container-fluid cover-image p-0 h-100">
  <div class="container-fluid color-overlay p-0 h-100">

    <main class="container h-100 cover" role="main">
      <div class="row h-100 align-items-center">
        <div class="col">

          <div class="row">
            <div class="col text-center">

              <svg class="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.22329 152.4" role="img" aria-label="draw logo">
                <title>draw logo</title>
                <g class="logo__text fill="#fff" style="line-height:125%" font-size="200" font-family="Leckerli One" letter-spacing="0" word-spacing="0">
                  <path d="M123.80455 102q3.6 0 3.6 9.2 0 5-4.2 12.2-4.2 7-11 13-6.6 5.8-14.8 9.6-8.2 3.8-16 3.8-11 0-14.4-18-12 19-35.6 19-14.4 0-23-8.8t-8.4-21.4q0-34 22.6-53.6 15.6-13.4 32.4-13.4 7.6 0 12 1.2l4.6 1.2q8.2-38.6 19-51.6 3.6-4.4 7.2-4.4 5.8 0 10.8 8 4.4 6.6 4.4 11.4 0 4.8-1.4 9.4-1.4 4.6-3.6 8.6-2 3.8-4.6 7.6-2.6 3.6-5.2 7.4-5.8 21.6-8.6 48.4-.8 7.6-.8 12.2 0 13.8 4.6 13.8 5.2 0 25.2-20.8 3.6-4 5.2-4zm-94.4 12q0 15.4 11.4 15.4 6.8 0 13.6-5.2 7-5.2 10.8-17.4.4-18 4.2-39.6-16 3.2-28 15.6-12 12.4-12 31.2z" style="-inkscape-font-specification:'Leckerli One'"/>
                  <path d="M146.6108 115.6l1.2 24.4q0 4.8-5 8.6t-13.6 3.8q-5 0-7-5.2-1.8-5.2-1.8-15.2 0-21 2-32.8 2.2-12 8.4-24.2-9.2-8.8-9.2-15.2 0-13.4 14.4-13.4 7.4 0 13 7.8 4 5.4 5.8 12.6 2.8 1 7 1 5.8 0 13.4-3.8l5.2-2.6q2.4-1.2 4.2-1.2 5.8 0 11.6 17-1.8 7.8-4 15-2 7.2-4.8 17.4t-3 13.8q0 3.4 2.2 3.4 3 0 7.4-3.8t8.8-8.2q4.4-4.6 8-8.4 3.8-3.8 5.2-3.8 2.8 0 2.8 6.8 0 13.8-12.2 27.2-12 13.4-27.6 13.2-9.2 0-13.8-7.4-4.6-7.4-4.8-18 0-21 9.4-39.8-4.4 1.8-10 1.8-5.4 0-7.8-.4-1.8 7.6-3.6 15.4-1.8 7.6-1.8 14.2z" style="-inkscape-font-specification:'Leckerli One'"/>
                  <path d="M331.61705 102q3.6 0 3.6 9.2 0 5-4.2 12.2-4.2 7-11 13-6.6 5.8-14.8 9.6-8.2 3.8-16 3.8-10.6 0-14.2-18.6-5.2 8.6-13.6 14.2-8.4 5.4-22.6 5.4-14 0-22.6-8.8-8.6-8.8-8.4-21.4 0-34 22.6-53.6 9.6-8.2 17.8-10.8 8.4-2.6 17.6-2.6 9.2 0 15 3.2 2.8-5.8 6.4-5.8 7 0 13.2 6.2 6.4 6 6.4 11.4-2.8 6.6-8.2 15.8-1.6 9.2-1.6 25.8t4.2 16.6q5.2 0 25.2-20.8 3.6-4 5.2-4zm-94.4 12q0 15.4 11.4 15.4 12.2-.2 20.2-13 2.8-4.4 4.6-10.8 0-22.4 4-38.4-16.2 3.2-28.2 15.6-12 12.4-12 31.2z" style="-inkscape-font-specification:'Leckerli One'"/>
                  <path d="M356.8233 61.2q0 13.4-4.8 30.4.4 6.4.4 12.4.4 12.8 3.2 17.6 2 2.6 5.2 2.6 6.2 0 15.4-8.8-7-16.6-7-30 0-27.4 25.8-27.4 8.8 0 14.6 5.2 6 5 6 12.6 0 16-17.8 38.4 7.4 8.8 12 10.2 6.6 0 19.8-24.4-2.4-9-2.4-16.8 0-14.2 4.4-20.8 5.4-8.4 17.8-8.4 12.6 0 14.2 10.2.4 3 .4 6.4 0 12.8-14.2 35.4 5 7.2 9.4 8.6 9.2 0 15.6-6.2 2.4-2.2 4-4 1.8-2 3.6-2 2.8 0 2.8 6.6 0 12.2-7.2 18-7.2 5.8-18.8 5.8-11.6 0-20.2-11.2-10.4 13.6-17.2 19-12.4 10.2-19.4 10.2-3.4 0-8.8-5.6-5.2-5.8-10.4-15-9.6 9-19 14.8-9.4 5.8-15.8 5.8-11.6 0-19.6-50.4-2.8-17.2-2.8-23.6.4-13.2 3.6-18.4 4.4-6.4 17.2-6.4 4.8 0 7.4 3 2.6 2.8 2.6 6.2zm34.2 36q6.6-10.2 6.6-16.2 0-6.2-4.2-6.2-2.8 0-3.6 3.2-.6 3-.6 8t1.8 11.2z" style="-inkscape-font-specification:'Leckerli One'"/>
                </g>
              </svg>

              <p class="slogan">Focus on drawing.</p>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col text-center">
              <%= link_to "female", "/photos/female",
                class: "btn btn-outline-secondary btn-lg mb-3 mx-1" %>
              <%= link_to "male", "/photos/male",
                class: "btn btn-outline-secondary btn-lg mb-3 mx-1" %>
              <%= link_to "face", "/photos/face",
                class: "btn btn-outline-secondary btn-lg mb-3 mx-1" %>
              <%= link_to "animal", "/photos/animal",
                class: "btn btn-outline-secondary btn-lg mb-3 mx-1" %>
              <%= link_to "flower", "/photos/flower",
                class: "btn btn-outline-secondary btn-lg mb-3 mx-1" %>
              <%= link_to "home", "/photos/home",
                class: "btn btn-outline-secondary btn-lg mb-3 mx-1" %>
              <%= link_to "landscape", "/photos/landscape",
                class: "btn btn-outline-secondary btn-lg mb-3 mx-1" %>
            </div>
          </div>

        </div>
      </div>
    </main>

  </div>
</div>
