<main class="container h-100 cover" role="main">
  <div class="row h-100 align-items-center">
    <div class="col">

      <div class="row">
        <div class="col text-center">

          <svg class="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.22329 152.4" role="img" aria-label="draw logo">
            <title>draw logo</title>
            <text class="logo__text" x="120.96432" y="559.64819" fill="#fff" style="line-height:125%" font-size="200" letter-spacing="0" word-spacing="0" transform="translate(-125.96 -410.448)">
              <tspan x="120.96432" y="559.64819" style="-inkscape-font-specification:'Leckerli One'" font-family="Leckerli One">draw</tspan>
            </text>
          </svg>

          <p class="slogan">Focus on drawing.</p>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col text-center">
          <%= link_to "female", "/photos/female",
            class: "btn btn-outline-secondary btn-lg mb-3 mx-1" %>
          <%= link_to "male", "/photos/male",
            class: "btn btn-outline-secondary btn-lg mb-3 mx-1" %>
          <%= link_to "face", "/photos/face",
            class: "btn btn-outline-secondary btn-lg mb-3 mx-1" %>
          <%= link_to "animal", "/photos/animal",
            class: "btn btn-outline-secondary btn-lg mb-3 mx-1" %>
          <%= link_to "flower", "/photos/flower",
            class: "btn btn-outline-secondary btn-lg mb-3 mx-1" %>
          <%= link_to "house", "/photos/house",
            class: "btn btn-outline-secondary btn-lg mb-3 mx-1" %>
          <%= link_to "landscape", "/photos/landscape",
            class: "btn btn-outline-secondary btn-lg mb-3 mx-1" %>
        </div>
      </div>

    </div>
  </div>
</main>
