<main class="container main-container flex-grow pt-navbar" role="main">

  <% @photos.each do |photo| %>
    <div class="row row-photo row-photo--list">
      <div class="col text-center p-0">

        <div class="photo-container"
          style="background-image: url('<%= low_resolution(photo.url_thumb) %>')">
          <img class="lazyload photo photo-limited-height img-fluid"
            data-src="<%= high_resolution(photo.url_regular) %>">

          <noscript>
            <img class="photo photo-limited-height img-fluid"
              src="<%= high_resolution(photo.url_regular) %>">
          </noscript>
        </div>

      </div>
    </div>

    <div class="row photo-credit photo-credit--list mb-5">
      <div class="col text-center">
        <%= link_to "Photo", photo.url_link %> by
          <%= link_to photo.user_name, photo.user_link %> /
          <%= link_to "Unsplash", "https://unsplash.com/" %>
      </div>
    </div>

    <hr class="row-photo-divisor">
  <% end %>

</main>

<div class="main-container-overlay"></div>
