<h1><%= link_to "draw", root_path %></h1>

<ul>
  <li>
    <%= link_to "female", "/photos/female" %>
  </li>
  <li>
    <%= link_to "male", "/photos/male" %>
  </li>
  <li>
    <%= link_to "face", "/photos/face" %>
  </li>
  <li>
    <%= link_to "animal", "/photos/animal" %>
  </li>
  <li>
    <%= link_to "flower", "/photos/flower" %>
  </li>
  <li>
    <%= link_to "house", "/photos/house" %>
  </li>
  <li>
    <%= link_to "object", "/photos/object" %>
  </li>
  <li>
    <%= link_to "landscape", "/photos/landscape" %>
  </li>
</ul>
