<main class="container flex-grow" role="main">

  <div class="row" data-turbolinks="false">
    <div class="col text-center p-0">

      <div class="photo-container"
        style="background-image: url('<%= low_resolution(@photo.urls.thumb) %>')">
        <a href="<%= photo_url %>">
          <img class="lazyload photo img-fluid"
            data-src="<%= high_resolution(@photo.urls.regular) %>">

          <noscript>
            <img class="photo img-fluid"
              src="<%= high_resolution(@photo.urls.regular) %>">
          </noscript>
        </a>
      </div>

    </div>
  </div>

  <div class="row photo-credit">
    <div class="col text-center">
      <%= link_to "Photo", @photo.links.html %> by
        <%= link_to @photo.user.name, @photo.user.links.html %> /
        <%= link_to "Unsplash", "https://unsplash.com/" %>
    </div>
  </div>

</main>
