<main class="container-fluid main-container main-container--focus
  flex-grow pt-navbar min-height-100vh" role="main">

  <div class="row row-photo row-photo--focus align-items-center">
    <div class="col text-center p-0">

      <div class="photo-container-wrapper p-0">
        <div class="photo-container text-center"
          data-photo-width="<%= @photo_decorator.width %>"
          data-photo-height="<%= @photo_decorator.height %>">
          <img class="lazyload photo img-fluid"
            data-src="<%= @photo_decorator.url_regular %>">
          <img class="photo--low-res img-fluid fade-in"
            src="<%= @photo_decorator.url_thumb %>">

          <noscript>
            <img class="photo img-fluid"
              src="<%= @photo_decorator.url_regular %>">
          </noscript>
        </div>
      </div>

    </div>
  </div>

  <div class="row photo-footer--focus text-center">
    <div class="col">
      <div class="next-photo">
        <%= link_to request_photo_path(request_id: @request.name,
            id: @request.next_photo_for(@photo_decorator)),
            class: "next-photo-link", title: "Next photo" do %>
          &#x279e;
        <% end %>
      </div>
    </div>
  </div>

</main>

<div class="main-container-overlay"></div>

<div class="container-fluid">

  <div class="row photo-credit photo-credit--focus">
    <div class="col text-center">
      <%= link_to "Photo", @photo_decorator.url_link %> by
        <%= link_to @photo_decorator.user_name, @photo_decorator.user_link %> /
        <%= link_to "Unsplash", "https://unsplash.com/" %>
    </div>
  </div>

</div>
