<main class="container-fluid main-container main-container--focus flex-grow pt-navbar" role="main">

  <div class="row row-photo row-photo--focus align-items-center">
    <div class="col text-center p-0">

      <div class="photo-container text-center"
        style="background-image: url('<%= low_resolution(@photo.url_thumb) %>')">
        <img class="lazyload photo img-fluid"
          data-src="<%= high_resolution(@photo.url_regular) %>">

        <noscript>
          <img class="photo img-fluid"
            src="<%= high_resolution(@photo.url_regular) %>">
        </noscript>
      </div>

    </div>
  </div>

</main>

<div class="main-container-overlay"></div>

<div class="container-fluid">

  <div class="row text-center">
    <div class="col">
      <div class="next-photo">
        <%= link_to request_photo_path(request_id: @request.name,
            id: @request.next_photo_for(@photo)),
            class: "next-photo-link", title: "Next photo" do %>
          &#x279e;
        <% end %>
      </div>
    </div>
  </div>

  <div class="row photo-credit photo-credit--focus">
    <div class="col text-center">
      <%= link_to "Photo", @photo.url_link %> by
        <%= link_to @photo.user_name, @photo.user_link %> /
        <%= link_to "Unsplash", "https://unsplash.com/" %>
    </div>
  </div>

</div>
