<main class="container flex-grow pt-navbar" role="main">

  <div class="row" data-turbolinks="false">
    <div class="col text-center p-0">

      <div class="photo-container"
        style="background-image: url('<%= low_resolution(@photo.url_thumb) %>')">
        <%= link_to request_photo_path(request_id: @request.name,
          id: @request.next_photo_for(@photo)), class: "photo-link" do %>

          <img class="lazyload photo img-fluid"
            data-src="<%= high_resolution(@photo.url_regular) %>">

          <noscript>
            <img class="photo img-fluid"
              src="<%= high_resolution(@photo.url_regular) %>">
          </noscript>

        <% end %>
      </div>

    </div>
  </div>

  <div class="row photo-credit">
    <div class="col text-center">
      <%= link_to "Photo", @photo.url_link %> by
        <%= link_to @photo.user_name, @photo.user_link %> /
        <%= link_to "Unsplash", "https://unsplash.com/" %>
    </div>
  </div>

</main>
