<header>
  <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark text-center">
    <div class="mx-auto">

      <div class="dropdown">

        <a class="navbar-brand dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="">
          <%= inline_svg "logo.svg", class: "navbar-logo",
          aria: true, title: "Open menu" %>
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <div class="center-items center-block">
            <a href="<%= root_path %>"
              class="dropdown-item dropdown-home" data-turbolinks="false">
              <%= inline_svg "ic_home_white_36px",
                class: "menu-icon menu-icon-home" %>
              home
            </a>

            <div class="dropdown-divider"></div>

            <% if params[:action] == "show" %>
              <a href="<%= request_photos_path(params[:request_id]) %>"
                  class="dropdown-item" data-turbolinks="false">
                <%= inline_svg "ic_view_list_white_36px",
                  class: "menu-icon menu-icon-list" %>
                list mode
              </a>
            <% else %>
              <a href="<%= request_random_photo_path(params[:request_id]) %>"
                  class="dropdown-item" data-turbolinks="false">
                <%= inline_svg "ic_view_array_white_36px",
                  class: "menu-icon menu-icon-focus" %>
                focus mode
              </a>
            <% end %>
          </div>
        </div>

      </div>

    </div>
  </nav>
</header>
