<!DOCTYPE html>
<html>
  <head>
    <title>draw</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body">
    <%= render "header" unless current_page?(root_url) %>
    <%= yield %>
  </body>
</html>
